#footer {
  background-color: var(--Secondary);
  padding-top: 30px;
}
#footer.style-2 {
  background-color: #161618;
}
#footer.style-2 .footer-menu-list ul li a {
  background-color: #161618 !important;
}
#footer .footer-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 34px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.07); */
  flex-wrap: wrap;
  gap: 30px 20px;
}
#footer .footer-main {
  padding: 0px 0 22px;
}
#footer .footer-menu-list .title {
  color: var(--Text-white);
  margin-bottom: 24px;
}
#footer .footer-menu-list ul li {
  margin-bottom: 15px;
}
#footer .footer-menu-list ul li a {
  font-size: 16px;
  line-height: 22.4px;
  color: var(--Note);
  position: relative;
}
#footer .footer-menu-list ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  /* background-color: var(--Primary); */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#footer .footer-menu-list ul li:hover a {
  color: #fff;
  background-color: #c1924d;
}
#footer .footer-menu-list ul li:hover a::before {
  width: 100%;
}
#footer .footer-menu-list.style-2 ul li a {
  padding-left: 20px;
  position: relative;
  background-color: var(--Secondary);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
}
#footer .footer-menu-list.style-2 ul li a::after {
  content: "\e909";
  position: absolute;
  font-family: "icomoon";
  font-size: 16px;
  color: var(--Primary);
  font-size: 12px;
  margin-right: 11px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
#footer .footer-menu-list.style-2 ul li:hover a::before {
  width: 87%;
}
#footer .footer-bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  gap: 10px 20px;
  flex-wrap: wrap;
}
#footer .footer-bottom p a {
  color: var(--Text);
}
#footer .footer-bottom p a:hover {
  color: var(--Primary);
}
#footer .wrap-social {
  gap: 16px;
}
#footer .footer-logo img {
  /* width: 136px;
  height: 42px; */
}

.wrap-contact-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 20px 48px;
  flex-wrap: wrap;
}
.wrap-contact-item .contact-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 33px;
}
.wrap-contact-item .contact-item i {
  font-size: 48px;
  color: var(--Primary);
}
.wrap-contact-item .contact-item svg path {
  stroke: var(--Primary);
}
.wrap-contact-item .contact-item .content {
  position: relative;
}
.wrap-contact-item .contact-item .content .title {
  color: var(--Note);
  margin-bottom: 4px !important;
}
.wrap-contact-item .contact-item .content h6 a {
  color: var(--Text-white);
}
.wrap-contact-item .contact-item .content h6 a:hover {
  color: var(--Primary);
}
.wrap-contact-item .contact-item .content::after {
  /* content: ""; */
  position: absolute;
  width: 1px;
  height: 51px;
  background-color: rgba(255, 255, 255, 0.07);
  top: 0;
  left: -18px;
}

.footer-col-block .title-mobile {
  display: none;
  position: relative;
}
.footer-col-block .title-mobile::after {
  position: absolute;
  content: "";
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 1px;
  background-color: var(--White);
  transition: 0.25s ease-in-out;
}
.footer-col-block .title-mobile::before {
  position: absolute;
  content: "";
  right: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 12px;
  background-color: var(--White);
  transition: 0.25s ease-in-out;
}
.footer-col-block.open .title-mobile::before {
  opacity: 0;
}
.footer-col-block.open .title-mobile::after {
  transform: translate(0%, -50%) rotate(-180deg);
}
