@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --White: #ffffff;
  --Text: #5c5e61;
  --Text-white: #ffffff;
  --Color-4: #7695ff;
  --Primary: #f1913d;
  --Line: #ececec;
  --Secondary: #2c2e33;
  --Note: #a8abae;
  --Heading: #2c2e33;
}

.theme-color-1 {
  --Primary: #c99850;
  --Sub-primary-1: rgba(215, 241, 236, 1);
  --Sub-primary-2: rgba(6, 167, 136, 0.16);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* about us start */
.tf-spacing-1 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.text-with-img.style-2 .img-style img {
  border-radius: 24px;
  width: 100%;
  object-fit: cover;
}
.text-with-img.style-2 .main {
  width: 88.71%;
}
.text-with-img.style-2 .sub {
  border: 16px solid var(--White);
  background-color: var(--White);
  position: absolute;
  border-radius: 38px;
  width: 52%;
  right: -3%;
  bottom: -29%;
}
.text-with-img.style-2 .sub img {
  border-radius: 24px;
}
.text-with-img.style-2 .content {
  padding: 39px 0 123px;
}

.heading-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 12px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.heading-section p {
  color: var(--Text-3);
}
.text-color-default {
  color: var(--Text) !important;
}

/* about us end */

@media (max-width: 991px) {
 .heading-section {
    gap: 12px !important;
    flex-direction: column !important;
  }
  .heading-section .left .title {
    margin-bottom: 12px;
  }
}

/* what we do start */

.text-1 {
  font-size: 16px;
  line-height: 22.4px;
}

.style-pagination {
  position: relative;
}
.style-pagination .swiper-pagination {
  position: unset;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 20px;
}
.style-pagination .swiper-pagination.pagination-layout {
  display: none;
}
.style-pagination .swiper-pagination.pagination-testimonial-1 {
  display: none;
}
.style-pagination .swiper-pagination-bullet {
  position: relative;
  background: rgb(228, 228, 228);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.style-pagination .swiper-pagination-bullet::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 999px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.style-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--Primary);
}
.style-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 999px;
  border: 1px solid var(--Primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.style-pagination.dot-white .swiper-pagination-bullet {
  position: relative;
  background: var(--Heading);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.style-pagination.dot-white .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--White);
}
.style-pagination.dot-white .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  border: 1px solid var(--White);
}
 .section-listing .tf-sw-mobile-1 .swiper-wrapper {
    margin-bottom: 20px;
  }
  .section-categories.style-2 .tf-layout-mobile-sm {
  gap: 24px;
}
.hover-img .image-wrap,
.hover-img .img-style {
  overflow: hidden;
}
.hover-img .image-wrap img,
.hover-img .img-style img {
  object-fit: cover;
  -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
  transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
}
.hover-img:hover .image-wrap img,
.hover-img:hover .img-style img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.agent-item {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.agent-item .image-wrap {
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}
.agent-item .image-wrap > a {
  display: block;
  position: relative;
  width: 100%;
}
.agent-item .image-wrap > a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  bottom: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.agent-item .image-wrap > a img {
  width: 100%;
}
.agent-item .content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.agent-item .content .name {
  margin-bottom: 2px;
}
.agent-item .wrap-btn-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 8px;
}
.agent-item .btn-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border-radius: 999px;
  border: 1px solid var(--Line);
  color: var(--Text);
}
.agent-item .btn-icon:hover {
  background: var(--Primary);
  color: var(--White);
}
.agent-item .tf-social {
  max-width: 202px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  z-index: 1;
}
.agent-item .tf-social a {
  color: var(--White);
  font-size: 18px;
  position: relative;
}
.agent-item .tf-social a::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  right: -16px;
}
.agent-item .tf-social a:hover {
  color: var(--Primary);
}
.agent-item:hover .tf-social {
  opacity: 1;
  visibility: visible;
  bottom: 32px;
}
.agent-item:hover .image-wrap a::after {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.agent-item.style-2 {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.agent-item.style-2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(180deg, rgb(0 0 0 / 5%) 68.29%, #000000 100%);
}
.agent-item.style-2 .image-wrap {
  margin-bottom: 0;
}
.agent-item.style-2 .content {
  position: absolute;
  bottom: 14px;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  padding: 0 15px;
}
.agent-item.style-2 .content .name a {
  color: var(--Text-white);
}
.agent-item.style-2 .content p {
  color: var(--Text-white);
  margin: 20px 0 35px 0;
  min-height: 50px;
}
.agent-item.style-2 .wrap-btn-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}
.agent-item.style-2 .btn-icon {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: var(--White);
}
.agent-item.style-2 .btn-icon.phone {
  transition-delay: 0.1s;
}
.agent-item.style-2 .btn-icon.message {
  transition-delay: 0.2s;
}
.agent-item.style-2 .btn-icon:hover {
  background-color: var(--Color-4);
}
.agent-item.style-2 .tf-social {
  bottom: 32px;
}
.agent-item.style-2:hover .tf-social {
  bottom: 88px;
}
.tf-btn-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--Primary);
  gap: 8px;
  width: max-content;
}
.tf-btn-link span {
  position: relative;
}
.tf-btn-link span::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -1px;
  background: var(--Primary);
  height: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tf-btn-link i {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-delay: 0.2s;
}
.tf-btn-link:hover span::after {
  width: 100%;
}
.tf-btn-link:hover i {
  transform: translateX(4px);
}
.tf-btn-link.style-hover-rotate:hover svg {
  transform: rotate(-90deg);
}
/* what we do end */


/* why trust us start */

.tf-spacing-2 {
  padding-top: 72px;
  padding-bottom: 104px;
}

.counter-item span {
    font-family: "MyHelvetica", sans-serif;

}
.counter-item .counter-number {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: max-content;
  max-height: max-content;
}
.counter-item .odometer-formatting-mark {
  display: none;
}
.counter-item .odometer .odometer-value {
  width: 100%;
  text-align: right !important;
}
.counter-item .odometer .odometer-digit {
  vertical-align: unset !important;
}
.counter-item .sub {
  position: relative;
  top: -2px;
  left: -2px;
}
.counter-item .sub.plus {
  top: -14px;
  font-size: 40px;
}
.counter-item.style-4 span {
  font-size: 60px;
  font-weight: 500;
  line-height: 90px;
  color: var(--Heading);
}
.wrap-counter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 24px;
}
 .wrap-counter.style-1 {
    gap: 0;
  }
  .wrap-counter.style-1 .counter-item:not(:last-child) {
    border-right: 1px solid var(--Line);
  }

@media (max-width: 767px) {
  .tf-spacing-3,
  .tf-spacing-2 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

/* why trust us end */

/* testimonials start */

.wg-testimonial {
  padding: 0px 24px 21px;
  /* border: 1px solid var(--Line); */
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wg-testimonial .avatar {
  width: 90px;
  height: 35px;
  border-radius: 999px;
  overflow: hidden;
  margin: 0 auto 16px;
}
.wg-testimonial .ratings {
  margin-bottom: 26px;
}
.wg-testimonial .ratings i {
  color: rgb(255, 168, 0);
}
.wg-testimonial .description {
  margin-bottom: 40px;
  max-width: 1024px;
  margin: 0 auto 40px;
}
.wg-testimonial .author .name {
  margin-bottom: 3px;
}
.wg-testimonial.has-bg {
  background: var(--Sub-primary-3);
}
.wg-testimonial.has-bg .author .name {
  margin-bottom: 5px;
}
.wg-testimonial:hover {
  /* box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.07); */
}
.wg-testimonial.style-2 {
  padding: 24px 23px 24px;
}
.wg-testimonial.style-2 .author {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 12px;
}
.wg-testimonial.style-2 .ratings {
  margin-bottom: 15px;
}
.wg-testimonial.style-2 .description {
  margin-bottom: 22px;
}
.wg-testimonial.style-2 .avatar {
  width: 60px;
  height: 60px;
  margin: 0;
}
.wg-testimonial.style-2 .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wg-testimonial.style-3 {
  padding: 32px;
  border: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wg-testimonial.style-3:hover {
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.07);
}
.wg-testimonial.style-4 {
  padding: 31px 27px 30px;
}
.wg-testimonial.style-4 .avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 31px;
}
.wg-testimonial.style-4 .description {
  margin-bottom: 31px;
}
.wg-testimonial.style-4 .ratings {
  margin-bottom: 16px;
}
.wg-testimonial.style-4 .author .name {
  margin-bottom: 3px;
  font-size: 20px;
  line-height: 24.2px;
}
.wg-testimonial.style-5 {
  border: 1px solid var(--border);
  background-color: var(--Heading);
  padding: 32px 32px 21px;
}
.wg-testimonial.style-5 .avatar {
  margin: 0;
  height: 56px;
  width: 56px;
}
.wg-testimonial.style-5 .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wg-testimonial.style-5 .description {
  margin-bottom: 56px;
}
.wg-testimonial.style-5 .author {
  display: flex;
  gap: 16px;
  align-items: center;
}
.wg-testimonial.style-5.style-bg-white {
  background-color: var(--White);
  border: 1px solid var(--Line);
}
.wg-testimonial.style-6 {
  padding: 48px 47px;
  background-color: var(--White);
  border: none;
}
.wg-testimonial.style-6 .description {
  color: var(--Text);
  line-height: 25.2px;
  font-weight: 400;
}
.wg-testimonial.style-6 P,
.wg-testimonial.style-6 .ratings i {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wg-testimonial.style-6:hover {
  background-color: var(--Primary);
}
.wg-testimonial.style-6:hover p,
.wg-testimonial.style-6:hover .ratings i,
.wg-testimonial.style-6:hover a {
  color: var(--White) !important;
}
.wg-testimonial.style-no-boder {
  border: none;
  padding: 32px 24px 21px;
}
.wg-testimonial.style-no-boder .avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 31px;
}
.wg-testimonial.style-no-boder .description {
  margin-bottom: 31px;
}
.wg-testimonial.style-no-boder .author .name {
  font-size: 20px;
  line-height: 24.2px;
}
.wg-testimonial.style-no-boder .ratings {
  margin-bottom: 16px;
}

.nav-prev-layout,
.nav-next-layout {
    position: absolute;
    transform: translateY(-50%);
    z-index: 9999;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-prev-layout {
    top: -180px;
}

.nav-next-layout {
     top: -180px;
}

.sw-wrap-btn {
    overflow: visible !important;
    position: relative;
}

@media screen and (max-width: 767px) {
    .nav-prev-layout,
    .nav-next-layout {
        display: none;
    }
}


/* testimonials end */

/* openion section start */
.tf-spacing-3 {
  padding-top: 64px;
  padding-bottom: 80px;
}

/* openion section end */










/* footer start */
.tf-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1320px;
  max-width: 100%;
}

#footer {
  background-color: var(--Secondary);
  padding-top: 30px;
}

#footer .footer-logo {
  width: 136px;
  height: 42px;
}

#footer.style-2 {
  background-color: #161618;
}
#footer.style-2 .footer-menu-list ul li Link {
  background-color: #161618 !important;
}
.wrap-contact-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 20px 48px;
  flex-wrap: wrap;
}
.wrap-contact-item .contact-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 33px;
}
/* .wrap-contact-item .contact-item {
  font-size: 48px;
  color: var(--Primary);
} */
.wrap-contact-item .contact-item svg path {
  stroke: var(--Primary);
}
.wrap-contact-item .contact-item .content {
  position: relative;
}
.wrap-contact-item .contact-item .content .title {
  color: var(--Note);
  margin-bottom: 4px !important;
}
.wrap-contact-item .contact-item .content h6 Link {
  color: var(--Text-white);
}
.wrap-contact-item .contact-item .content h6 Link:hover {
  color: var(--Primary);
}
.wrap-contact-item .contact-item .content::after {
  /* content: ""; */
  position: absolute;
  width: 1px;
  height: 51px;
  background-color: rgba(255, 255, 255, 0.07);
  top: 0;
  left: -18px;
}
#footer .footer-main {
  padding: 0px 0 22px;
}
#footer .footer-menu-list .title {
  color: var(--Text-white);
  margin-bottom: 24px;
}
#footer .footer-menu-list ul li {
  margin-bottom: 15px;
}
#footer .footer-menu-list ul li Link {
  font-size: 16px;
  line-height: 22.4px;
  color: var(--Note);
  position: relative;
}
#footer .footer-menu-list ul li Link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  /* background-color: var(--Primary); */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#footer .footer-menu-list ul li:hover Link {
  color: #fff;
  background-color: #c1924d;
}
#footer .footer-menu-list ul li:hover Link::before {
  width: 100%;
}
#footer .footer-menu-list.style-2 ul li Link {
  padding-left: 20px;
  position: relative;
  background-color: var(--Secondary);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
}
#footer .footer-menu-list.style-2 ul li Link::after {
  content: "\e909";
  position: absolute;
  font-family: "icomoon";
  font-size: 16px;
  color: var(--Primary);
  font-size: 12px;
  margin-right: 11px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
#footer .footer-menu-list.style-2 ul li:hover Link::before {
  width: 87%;
}

@media (max-width: 991px) {
  #footer .footer-main {
    padding-bottom: 0;
  }
    #footer .footer-menu-list {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
 #footer .footer-menu-list .title.title-mobile {
    display: block;
  }
  #footer .footer-menu-list .title.title-desktop {
    display: none;
  }
}
/* footer end */

/* header start */

.header {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.header .header-inner-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.header .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.header .header-right .phone-number {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header .header-right .phone-number p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--Heading);
}

.header .header-right .user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border: 1px solid var(--Line);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.header .header-right .user.active .menu-user {
  opacity: 1;
  visibility: visible;
}

.header .header-right .box-user {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.header .header-right .box-user .name {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  gap: 6px;
  color: var(--Heading);
}

.header .header-right .box-user .name i {
  font-size: 20px;
}

.header .header-right .box-user.active .menu-user {
  opacity: 1;
  visibility: visible;
}

.header .mobile-button {
  display: none;
  font-size: 25px;
  color: var(--Primary);
}

.header .header-logo {
  padding: 21px 0px 15px;
}

.header .header-logo img {
  height: 42px;
}

.header .tf-btn {
  height: 44px;
  border-radius: 12px;
}

.header .icons svg path {
  stroke: var(--Primary);
}

.header.style-2 .header-inner {
  position: relative;
  z-index: 999;
  margin-bottom: -78px;
}

.header.style-2 .header-logo {
  padding: 17px 0px 15px;
}

.header.style-2 .main-menu .navigation > li > a {
  color: var(--White);
}

.header.style-2 .main-menu li a:hover {
  color: var(--Primary);
}

.header.style-2 .header-right .phone-number p {
  color: var(--White);
}

.header.style-2 .header-right .user {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.1);
}

.header.style-2 .header-right .user > svg path {
  stroke: var(--White);
}

.tf-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1320px;
  max-width: 100%;
}

.tf-container .row {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.tf-container .row > * {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.header .header-right:has(.linkOnHover):hover .main-menu {
  display: block;
  transform: none;
}

.main-menu .navigation > li.has-child.style-2 > .submenu li a {
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

.main-menu .navigation > li.has-child.style-2 > .submenu li a img {
  border-radius: 10px;
  border: 1px solid rgb(201 152 80 / 56%);
}

.main-menu .navigation > li.has-child.style-2 > .submenu li a:hover img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header.header-sticky.is-sticky {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.menu-user {
  position: absolute;
  width: 280px;
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--White);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  top: calc(100% + 25px);
  left: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
  padding: 8px;
}

.menu-user .dropdown-item {
  display: flex;
  gap: 12px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  color: var(--Heading);
  border-radius: 10px;
}

.menu-user .dropdown-item:not(:last-child) {
  margin-bottom: 5px;
}

.menu-user .dropdown-item.current,
.menu-user .dropdown-item:hover {
  background-color: var(--Primary);
  color: var(--White);
}

.menu-user .dropdown-item.current svg path,
.menu-user .dropdown-item:hover svg path {
  stroke: var(--White);
}

.menu-user .dropdown-item.current .wrap-login a,
.menu-user .dropdown-item:hover .wrap-login a {
  color: var(--White);
}

.menu-user .dropdown-item.current .wrap-login a:hover,
.menu-user .dropdown-item:hover .wrap-login a:hover {
  color: var(--Heading);
}

.menu-user .dropdown-item .wrap-login {
  gap: 4px;
}

.menu-user .dropdown-item .wrap-login span {
  transition: all 0.3s ease;
}

.menu-user .dropdown-item .wrap-login a {
  color: var(--Heading);
}

/* main-nav */
.main-menu {
  position: relative;
  margin-left: 30px;
  transition: all 0.3s ease;
  display: none;
  transform: translate3d(100px, 0, 0);
}

.main-menu .navigation {
  display: flex;
  align-items: center;
  gap: 14px;
}

.main-menu .navigation > li.current-menu > a {
  color: var(--Primary) !important;
  font-weight: 700;
}

.main-menu .navigation > li > a {
  padding: 10px 0px;
}

.main-menu .navigation > li.has-child > a::after {
  right: 0;
}

.main-menu .navigation > li > .submenu {
  position: absolute;
  z-index: 1;
  padding: 25px 20px 30px;
  top: calc(100% + 16px);
  right: 0;
}

.main-menu .navigation > li > .submenu::before {
  position: absolute;
  bottom: calc(100% - 14px);
  left: 50%;
  border-top: 20px solid var(--White);
  border-right: 20px solid transparent;
  transform: rotate(45deg);
}

.main-menu .navigation > li > .submenu::after {
  content: "";
  position: absolute;
  background-color: transparent;
  left: 0;
  right: 0;
  height: 35px;
  top: -25px;
}

.main-menu .navigation > li > .submenu > li {
  position: relative;
}

.main-menu .navigation > li > .submenu > li:hover::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 20%;
}

.main-menu .navigation > li > .submenu > li:hover a::after {
  transform: rotate(-90deg);
}

.main-menu .navigation > li > .submenu > li a {
  padding: 9px 0;
  width: 100%;
}

.main-menu .navigation > li > .submenu > li > .submenu {
  position: absolute;
  left: calc(100% + 20px);
  top: -25px;
  opacity: 0;
  visibility: hidden;
}

.main-menu .navigation > li:hover > ul,
.main-menu .navigation > li:hover > ul > li:hover > .submenu {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.navigation {
  position: relative;
}

.navigation li.has-child > a {
  position: relative;
  padding-right: 20px;
}

.navigation li.has-child > a::after {
  transition: all 0.3s ease;
  position: absolute;
  right: 0;
  font-family: "icomoon";
  content: "\e902";
  font-size: 14px;
  cursor: pointer;
}

.navigation li a {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: var(--Heading);
  transition: all 0.3s ease;
}

.navigation li:hover ul li {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 70ms;
}

.navigation li:hover ul li:nth-child(2) { transition-delay: 140ms; }
.navigation li:hover ul li:nth-child(3) { transition-delay: 210ms; }
.navigation li:hover ul li:nth-child(4) { transition-delay: 280ms; }
.navigation li:hover ul li:nth-child(5) { transition-delay: 350ms; }
.navigation li:hover ul li:nth-child(6) { transition-delay: 420ms; }
.navigation li:hover ul li:nth-child(7) { transition-delay: 490ms; }
.navigation li:hover ul li:nth-child(8) { transition-delay: 560ms; }
.navigation li:hover ul li:nth-child(9) { transition-delay: 630ms; }
.navigation li:hover ul li:nth-child(10) { transition-delay: 700ms; }

.navigation .submenu {
  position: absolute;
  z-index: 1;
  width: 280px;
  padding: 25px 30px 30px 30px;
  border-radius: 16px;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  background-color: rgb(255 255 255 / 50%);
}

.navigation .submenu > li > .submenu {
  position: absolute;
  left: 100%;
  top: 0px;
  opacity: 0;
  visibility: hidden;
}

.navigation .submenu li {
  opacity: 0;
  transform: translateY(11px);
  transition: all 500ms ease;
}

.navigation .submenu li a,
.navigation .submenu2 li a {
  display: inline-block;
  padding: 5px 0;
  width: 100%;
}

.navigation .submenu li.current-item > a,
.navigation .submenu li:hover > a,
.navigation .submenu2 li.current-item > a,
.navigation .submenu2 li:hover > a {
  color: var(--Primary) !important;
}

.navigation .submenu li.current-item ul,
.navigation .submenu li:hover ul,
.navigation .submenu2 li.current-item ul,
.navigation .submenu2 li:hover ul {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

.has-child.style-2 > .submenu {
  right: -55% !important;
  left: auto;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 4%);
}

.has-child.style-2 > .submenu::before {
  left: 72% !important;
}

.has-child.style-2 > .submenu > li > a {
  font-size: 20px;
  font-weight: 600;
  padding-left: 0 !important;
  color: var(--Heading) !important;
}

.has-child.style-2 > .submenu > li > .submenu2 > li {
  width: 100%;
}

.has-child.style-2 > .submenu > li > .submenu2 > li > a {
  color: var(--Text);
}

.has-child.style-2 > .submenu > li > .submenu2 > li > a:hover {
  color: var(--Primary);
}

/* Custom CSS */
.ui-banner__scrollButton {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: max-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  animation: fadeIn 1s ease 1.5s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

.ui-banner__scrollButtonScrollbar {
  height: 60px;
  margin-top: 8px;
  overflow: hidden;
  position: relative;
  width: 1px;
}

.ui-banner__scrollButtonScrollbarBg {
  background: #ffffff4d;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.ui-banner__scrollButtonScrollbarFg {
  animation: animateScrollLine 2s cubic-bezier(.86,0,.07,1) infinite;
  background: var(--White);
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.ui-banner__scrollButtonText {
  font-size: 13px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -.13px;
  text-align: center;
  color: var(--White);
}

@keyframes animateScrollLine {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 200%, 0); }
}

/* menu-mobile */
.mobile-nav-wrap {
  z-index: 99999;
}

.mobile-nav-wrap .top-nav-mobile {
  padding-bottom: 0px;
}

.mobile-nav-wrap .top-nav-mobile .icon-close {
  font-size: 18px;
}

.mobile-nav-wrap .offcanvas-title img {
  max-width: 136px;
  height: 42px;
}

.mobile-nav-wrap .inner-mobile-nav::-webkit-scrollbar {
  width: 0px;
}

.inner-mobile-nav {
  padding: 15px;
  position: relative;
}

.inner-mobile-nav .top-nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.inner-mobile-nav .top-nav-mobile #mobile-logo_header {
  width: 150px;
}

.inner-mobile-nav .top-nav-mobile .mobile-nav-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-mobile-nav .mb-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 30px;
  gap: 30px;
}

.inner-mobile-nav .mb-body .support .text-need {
  font-weight: 500;
  border-bottom: 1px solid var(--Line);
  margin-bottom: 11px;
}

.inner-mobile-nav .mb-body .support .mb-info li {
  color: rgb(134, 134, 134);
  font-size: 14px;
  line-height: 24px;
}

.inner-mobile-nav .mb-body .support .mb-info li span {
  margin-left: 5px;
  font-weight: 600;
  color: var(--Heading);
}

.inner-mobile-nav .mb-body .support .mb-info li a {
  margin-left: 5px;
  font-weight: 400;
  color: var(--Heading);
}

.inner-mobile-nav #menu-mobile-menu {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--Line);
  padding-top: 15px;
}

.inner-mobile-nav #menu-mobile-menu > li {
  position: relative;
  cursor: pointer;
  color: var(--Primary);
  border-bottom: 1px solid var(--Line);
}

.inner-mobile-nav #menu-mobile-menu li a {
  font-weight: 400;
  font-size: 16px;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: var(--Heading);
}

.inner-mobile-nav #menu-mobile-menu li.menu-item-has-children-mobile > a::after,
.inner-mobile-nav #menu-mobile-menu li.menu-item-has-children-mobile ul > .menu-item-has-children-mobile-2 > a::after {
  content: "\e902";
  position: absolute;
  font-family: "icomoon";
  font-weight: 300;
  font-size: 20px;
  right: 0;
  top: 8px;
  transition: all 0.3s ease;
}

.inner-mobile-nav #menu-mobile-menu li.menu-item-has-children-mobile > a:not(.collapsed)::after,
.inner-mobile-nav #menu-mobile-menu li.menu-item-has-children-mobile ul > .menu-item-has-children-mobile-2 > a:not(.collapsed)::after {
  transform: rotate(-180deg);
}

.inner-mobile-nav #menu-mobile-menu li .sub-mobile {
  margin-bottom: 26px;
  border-left: 1px solid var(--Line);
}

.inner-mobile-nav #menu-mobile-menu li .sub-mobile > li {
  padding-left: 15px;
}

.inner-mobile-nav .wrap-social {
  gap: 5px;
}

.inner-mobile-nav .wrap-social .tf-social {
  gap: 10px;
}

#menu-mobile-menu li.current-menu-item > a,
#menu-mobile-menu li a:hover,
#menu-mobile-menu li.current-item a {
  color: var(--Primary);
}

/* header end */

/* video section start */
.page-title {
  position: relative;
  z-index: 10;
  background-position: center;
  background-attachment: fixed;
}

.page-title.home02 {
  padding: 350px 0 280px;
  background-size: cover;
  height: 100vh;
}

.page-title.home02 .hero-bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 4px;
  overflow: hidden;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  z-index: 2;
  pointer-events: none;
}

.animated-line {
  white-space: nowrap;
  display: block;
}

.animated-line span {
  display: inline-block;
  font-size: clamp(2rem, 8vw, 9rem);
  font-weight: 300;
  color: white;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: calc(var(--i) * 0.1s);
}

.animated-line + .animated-line {
  margin-top: clamp(1rem, 2vw, 2.5rem);
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-title.home02 video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ui-banner__scrollButton {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  animation: fadeIn 1s ease 1.5s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.ui-banner__scrollButtonScrollbar {
  height: 60px;
  margin-top: 8px;
  overflow: hidden;
  position: relative;
  width: 1px;
}

.ui-banner__scrollButtonScrollbarBg {
  background: #ffffff4d;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.ui-banner__scrollButtonScrollbarFg {
  animation: animateScrollLine 2s cubic-bezier(.86,0,.07,1) infinite;
  background: var(--White);
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.ui-banner__scrollButtonText {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -.13px;
  text-align: center;
  color: var(--White);
}

@keyframes animateScrollLine {

  0% {
      transform: translate3d(0, -100%, 0);
  }
  100% {
      transform: translate3d(0, 200%, 0);
  }
}


/* video section end */