
#footer {
  background-color: var(--Secondary);
  padding-top: 30px;
}

#footer .footerLogo {
  width: 250px;
  height: 42px;
}

#footer.style2 {
  background-color: #161618;
}
#footer.style2 .footerMenuList ul li Link {
  background-color: #161618 !important;
}
.wrapContactItem {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 20px 48px;
  flex-wrap: wrap;
}
.wrapContactItem .contactItem {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 33px;
}
/* .wrapContactItem .contactItem {
  font-size: 48px;
  color: var(--Primary);
} */
.wrapContactItem .contactItem svg path {
  stroke: var(--Primary);
}
.wrapContactItem .contactItem .content {
  position: relative;
}
.wrapContactItem .contactItem .content .title {
  color: var(--Note);
  margin-bottom: 4px !important;
}
.wrapContactItem .contactItem .content h6 Link {
  color: var(--Text-white);
}
.wrapContactItem .contactItem .content h6 Link:hover {
  color: var(--Primary);
}
.wrapContactItem .contactItem .content::after {
  /* content: ""; */
  position: absolute;
  width: 1px;
  height: 51px;
  background-color: rgba(255, 255, 255, 0.07);
  top: 0;
  left: -18px;
}
#footer .footerMain {
  padding: 0px 0 22px;
}
#footer .footerMenuList .title {
  color: var(--Text-white);
  margin-bottom: 24px;
}
#footer .footerMenuList ul li {
  margin-bottom: 15px;
}
#footer .footerMenuList ul li Link {
  font-size: 16px;
  line-height: 22.4px;
  color: var(--Note);
  position: relative;
}
#footer .footerMenuList ul li Link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  /* background-color: var(--Primary); */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#footer .footerMenuList ul li:hover Link {
  color: #fff;
  background-color: #c1924d;
}
#footer .footerMenuList ul li:hover Link::before {
  width: 100%;
}
#footer .footerMenuList.style2 ul li Link {
  padding-left: 20px;
  position: relative;
  background-color: var(--Secondary);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
}
#footer .footerMenuList.style2 ul li Link::after {
  content: "\e909";
  position: absolute;
  font-family: "icomoon";
  font-size: 16px;
  color: var(--Primary);
  font-size: 12px;
  margin-right: 11px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
#footer .footerMenuList.style2 ul li:hover Link::before {
  width: 87%;
}

@media (max-width: 991px) {
  #footer .footerMain {
    padding-bottom: 0;
  }
    #footer .footerMenuList {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
 #footer .footerMenuList .title.titleMobile {
    display: block;
  }
  #footer .footerMenuList .title.titleDesktop {
    display: none;
  }
}