.counterItem span {
    font-family: "MyHelvetica", sans-serif;

}
.counterItem .counterNumber {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: max-content;
  max-height: max-content;
}
.counterItem .odometer-formatting-mark {
  display: none;
}
.counterItem .odometer .odometer-value {
  width: 100%;
  text-align: right !important;
}
.counterItem .odometer .odometer-digit {
  vertical-align: unset !important;
}
.counterItem .sub {
  position: relative;
  top: -2px;
  left: -2px;
}
.counterItem .sub.plus {
  top: -14px;
  font-size: 40px;
}
.counterItem.style4 span {
  font-size: 60px;
  font-weight: 500;
  line-height: 90px;
  color: var(--Heading);
}
.wrapCounter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 24px;
}
 .wrapCounter.style1 {
    gap: 0;
  }
  .wrapCounter.style1 .counterItem:not(:last-child) {
    border-right: 1px solid var(--Line);
  }

@media (max-width: 767px) {
  .tf-spacing-3,
  .tf-spacing-2 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
